@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.hero {
  background-image: url("../src/assets/company.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.black-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #272727,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #272727,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #000000,
    #131313
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #131313,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contact {
  background-image: url("../src/assets/contactpage.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hometag:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}
.producttag:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}
.contacttag:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}
.abouttag:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}

.slider {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border: 2px solid white;
  z-index: 20;
}

.font-title {
  font-family: 'Fraunces', serif;
}

.slide {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.sliderimg {
  z-index: 10;
}